<ion-header>
  <ion-toolbar>
    <ion-title>sign-in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="credentialsForm" (ngSubmit)="onSignIn()">
    <ion-card>
      <ion-list inset>
        <ion-item>
          <ion-input formControlName="username" placeholder="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" formControlName="password" placeholder="password"></ion-input> 
        </ion-item>
      </ion-list>
    </ion-card>
    <ion-button type="submit" expand='full'>Submit</ion-button>
  </form>

</ion-content>
